# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json
---
version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "semiannually"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "semiannually"
